.ink-cursor {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .ink-cursor span {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #282828; /* Dark gray color */
  }
  