- const word = 'No Stress • No Worry •'

div.rotate
	div.circular.circular--solid(style='--shadow-color: #ababab; filter: blur(1px); opacity: 0.7;')
		each char, i in word.split('')
			span.text(data-idx=i)= char

div.rotate
	div.circular
		each char, i in word.split('')
			span.text(data-idx=i)= char



