@import url(https://fonts.googleapis.com/css?family=Righteous);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  }

  .loader-container {
  height: 100%;
  text-align: center;
  }
  body {
    
    background-color: rgb(255, 162, 74);
    }
  
    /* Container to center the loader and set background color */
.bg-color {
  height: 100vh; /* Full viewport height */
  display: flex; /* Flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
   /* Background color */
}

    .loader-container h1 {

  display: inline-block;
  color: white;
  font-family: 'Righteous', serif;
  font-size: 12em; 
  text-shadow: .03em .03em 0 rgb(252, 146, 46);
  }
  .loader-container h1:after {
    
    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    word-wrap: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(48,20%,90%,1) 25%,
        hsla(48,20%,90%,1) 60%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: shad-anim 35s linear infinite;
    }

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }

  .loading-bar-container {
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    
  }
  
  .loading-bar {
    height: 100%;
    background-color: white;
    width: 0;
    border-radius: 15px;
    transition: width 0.3s ease-in-out;
  }
  
  .loading-percentage {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5em;
    font-family: 'Righteous', serif;
  }
  