/* Reset default margin and padding */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Big+Shoulders+Inline+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Big+Shoulders+Inline+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Big+Shoulders+Inline+Display:wght@100..900&family=Bungee+Shade&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-image: url('./images/purple_shahe.jpg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  height: 1000px;
  padding: 40px 20px;
  color: white;
  text-align: center;
  border-bottom: 4px solid #4a4e69;
  position: relative; /* Ensure relative positioning */
  font-family: "Antonio", sans-serif;  
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* Overlay for better text visibility */
header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Heading styles */
header h1 {
  font-size: 40em;
  margin: 0;
  font-weight: 100;
  z-index: 2; /* Ensure on top of overlay */
}

header p {
  font-size: 1.2em;
  margin: 10px 0 0;
  z-index: 2; /* Ensure on top of overlay */
}

/* Icons styles */
header .icons {
  margin-top: 20px;
  z-index: 2; /* Ensure on top of overlay */
}

header .icons > * {
  font-size: 2em;
  margin: 0 10px;
  color: #9a8c98;
}

.about {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
  text-align: left;
  max-width: 800px;
  margin: 0 0;
}

.about h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #7C47E1;
}

.about p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

/* Main content grid container */
.main-content {
 
  display: grid;
  grid-template-columns: 70% auto ;
  
justify-content: stretch;
align-items: start;
  gap: 0px;
  padding: 40px 20px;
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  
  .main-content {
  font-size: 20%;
    grid-template-columns: 1fr; /* Single column layout on smaller screens */
    padding: 0px; /* Reduced padding for better spacing */
   width: 100%;
  }

  

  header {
    width: 108%;
    height: 100%; /* Adjust height for smaller screens */
    padding: 20px;
    background-attachment: fixed; /* Remove fixed background on mobile */
  }

  header h1 {
    font-size: 10em; /* Smaller font size for header text */
  }

  .loader-container h1 {
    font-size: 4em; /* Smaller font size for loading text */
  }

  .loading-bar-container {
    width: 100%; /* Adjust width of loading bar container */
  }

  .loading-bar {
    width: 0; /* Initial width of the loading bar (0%) */
  }

  .works {

    font-family: "Big Shoulders Stencil Display", sans-serif;
    max-width: 100%;
  }

  .works h2{
    font-family: "Big Shoulders Stencil Display", sans-serif;

  }

  .skills {
    max-width: 100%;
  }

  
  .works .work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: rgb(167, 255, 237);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .works .work-item .work-details p {
    display: none; /* Hide detailed text on mobile */
  }

  .works .work-item .album-art {
    width: 150px; /* Adjust size of album art */
    height: 150px;
  }

  .works .work-item .work-title {
    font-size: 1em; /* Adjust font size of title */
    margin: 10px 0;
  }

  .skills {
    font-size: 40px; /* Decrease font size in skills section */
  }

  
  

}




/* Content wrapper styles */
.content {
  margin-left: 0%;
  

}

/* Image container styles */
.image {
  display: grid;
  justify-content: center;
  gap: 30px;
  align-items: center;
  height: 100%;
  max-height: 900px;
  margin-left: 0%;
}

/* Video container styles */
.video-container {
  border-radius: 10px;
  display: flex;
  
 
  width: 100%;
}

/* Responsive image styles */
.image iframe {
  width: 25vw;

  min-width: 300px;
  border-radius: 10px;
  background-color: aqua;
  
}

/* Section styles */
section {
  padding: 20px 0;
  background-color: rgb(255, 255, 245);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1000px;
  
}

/* Heading styles */
h2 {
  border-bottom: 2px solid #4a4e69;
  padding-bottom: 10px;
  font-size: 2em;
  margin-top: 0;
  
}

/* Works section styles */
.works {

  padding: 20px;
}

.works h2 {
  font-family: "Big Shoulders Inline Display", sans-serif;
  font-size: 150px;
  font-weight: 800;
  
}

/* Skills section styles */
.skills {
  background: linear-gradient(to bottom,  rgb(182, 1, 182),rgb(36, 36, 198));  background-size: contain;

  font-family: "Big Shoulders Inline Display", sans-serif;
  padding: 20px;
  font-size: 80px;
  font-weight: 500;
}



/* Contact section styles */
.contacts {
  display: flex;
  flex-direction: column;
  padding: 20px;
  
  font-size: 60px;
}

.contacts h2 {
  font-family: "Big Shoulders Inline Display", sans-serif;
  font-size: 140px; /* Decrease font size in contact section */
  font-weight: 800;
}
.contacts p {
  font-size: 20px; /* Decrease font size in contact section */
}

.icon-img {
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
}

.icon-img:hover {
  transform: scale(1.2);
}

/* Work item styles */
.works {
  padding: 20px;
  background: linear-gradient(to bottom, rgba(97, 97, 252,0.3), rgba(252, 76, 252,0.3)); 
   background-size: contain;
  background-position: center;
  background-attachment: fixed;
  
 color: #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
  
}

.work-item {
background-color: rgba(255, 245, 255, 0.3);
  
  background-repeat: no-repeat;  display: flex;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
  align-items: start;
  border-radius: 10px;
  font-size: 20px;
}

.album-art {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-top: 5px;
  border-radius: 5px;
  object-fit: cover;
  
}

.work-details {
  max-width: calc(100% - 120px); /* Adjust width based on album art width and margin */
}

.work-title {
  font-size: 2.2em;
  color: #ccd4fc;
  text-decoration: none;
  font-weight: bold;
}

.work-title:hover {
  text-decoration: underline;
}

.work-details p {
  font-size: 1em;
  color: #4a4e69;
  margin: 10px 0;
}

.embedded{
  width: 100%;
  
  display: flex;
  justify-content: end;
}


/* Spotify links container styles */
.spotify-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

/* Spotify item styles */
.spotify-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1em;
  color: #1db954;
  text-decoration: none;
}

/* Large album art styles */
.large-album-art {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Spotify item text styles */
.spotify-item span {
  color: #3a3f58;
  font-size: 1.2em;
  font-weight: bold;
}

/* Hover link styles */
a:hover {
 
 
}

/* .spotify-tile{
  width: 100%;
}
.youtube-tile{
  width: 26em;
} */

/* Unordered list styles */
ul {
  list-style-type: none;
  padding: 0;
}

/* List item styles */
li {
  background: #e0e0e0;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: #4a4e69;
}

/* SVG icon styles for sections */
li svg {
  margin-right: 10px;
  color: #9a8c98;
}

/* Last section margin adjustment */
section:last-of-type {
  margin-bottom: 40px;
}

/* Paragraph styles with SVG icons */
section p svg {
  margin-right: 10px;
  color: #9a8c98;
}

.gallery{
  
  background-image: url('./images/shahe-sofa.jpg');
  background-size: contain;
  background-position:1190px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: 10%;
  height: 50vh ;
  width: 100%;
  border-radius: 20px;
  /* animation: anim 30s infinite; */
  
}

@keyframes anim {
	0%,
	100% {
		border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
		
	}

	10% {
		border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
	}

	20% {
		border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
	}

	30% {
		border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
		
	}

	40% {
		border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
	}

	50% {
		border-radius: 100%;
		
	}

	60% {
		border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
	}

	70% {
		border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
		
	}

	80% {
		border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
	}

	90% {
		border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
	}
}
